@use "../sassvariables" as app;

.box {
  margin: 2vh 2vw;
  // border: solid 0.5vw rgb(255, 243, 222);
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  background-color: rgba(255, 243, 222, 0.671);
}

.boxSmall {
  width: 10vw;
}

.boxMedium {
  width: 15vw;
}

.boxLarge {
  width: 20vw;
}

// .border {
//   border: 10px solid rgb(206, 145, 84);
//   padding: 15px;
//   border-image: url(../icons/frosting3.png) 100 / 24px stretch;
// }
