@use "../sassvariables" as app;

.box {
  margin: 2vh 2vw;
  border: solid 3px app.$quarnary-color;
  cursor: pointer;
}

.boxSmall {
  width: 10vw;
}

.boxMedium {
  width: 15vw;
}

.boxLarge {
  width: 20vw;
}
