@use "../sassvariables" as app;

.box {
  margin: 2vh 2vw;
}

.boxUnlocked {
  cursor: pointer;
  border: solid 3px app.$quarnary-color;
}

.boxLocked {
  border: solid 3px app.$quintary-color;
}

.boxSmall {
  width: 10vw;
}

.boxMedium {
  width: 15vw;
}

.boxLarge {
  width: 20vw;
}
