.houseContainer {
  display: grid;
  justify-content: center;
}
.dayContainer {
  width: 80vw;
  display: flex;
  flex-direction: grow;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  border: solid 5px rgb(206, 145, 84);
}
