.houseContainer {
  margin-top: 2em;
  width: 80vw;
  margin: 2em auto;
  display: grid;
  justify-content: center;
  background-image: url(../icons/advent.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}
.dayContainer {
  width: 80vw;
  display: flex;
  flex-direction: grow;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
}
