@use "../sassvariables" as app;

.modalWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  border-radius: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 10px;
  left: 20%;
  right: 20%;
  top: 10%;
  bottom: 10%;
  margin: auto;
  background: white;
}
@media screen and (max-width: 600px) {
  .modal {
    border-radius: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 10px;
    left: 2%;
    right: 2%;
    top: 5%;
    bottom: 5%;
    margin: auto;
    background: white;
  }
}

.exitIcon {
  max-height: 26px;
  cursor: pointer;
}

.row {
  align-items: baseline;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}

.header {
  padding-left: 2%;
  padding-right: 2%;
}

.title {
  font-size: xx-large;
  text-align: left;
}

.submitter {
  text-align: left;
}

.body {
  overflow-y: auto;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
}

.modalImage {
  max-width: 60%;
  margin: auto;
}
.modalSmallImage {
  max-width: 30%;
  margin: auto;
  margin-top: 1em;
}
.modalLargeImage {
  max-width: 100%;
  margin: auto;
  margin-top: 1em;
}
.video {
  width: 600px;
  height: 500px;
  margin: auto;
}

.modalText {
  color: app.$secondary-color;
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
}

.answer {
  color: app.$primary-color;
}
