@use "../sassvariables" as app;

.trackerWrapper {
  background-color: app.$secondary-color;
  height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
  padding: 4px;
}

.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}

pre {
  font-family: "VT323", monospace;
}
.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 120s linear infinite;
}
.marquee span:hover {
  animation-play-state: paused;
}

@media only screen and (max-width: 768px) {
  .marquee span { animation-duration: 120s; }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-1575%, 0);
  }
}
