@use "./sassvariables" as app;
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  background-image: url(./icons/trees.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}
.App {
  text-align: center;
}

h1 {
  color: app.$primary-color;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h2 {
  color: app.$secondary-color;
}
